fastapi==0.135.2
uvicorn[standard]==0.42.0
gunicorn
fastapi-users==15.0.5
fastapi-users-db-sqlalchemy==7.0.0
sqlalchemy==2.0.48
aiomysql==0.2.0
PyMySQL==1.1.1
python-jose[cryptography]
passlib[bcrypt]
python-multipart==0.0.22
pydantic[email]==2.12.5
pydantic-settings
python-dotenv
email-validator==2.3.0
bcrypt==5.0.0